Child Tracker with Emergency Notifier/flows.json
[{"id":"95d8880e.102e58","type":"geofence","z":"dd1031cf.f2692","name":"","mode":"circle","inside":"both","rad":1643.8684969083317,"points":[],"centre":{"latitude":15.743699741248264,"longitude":77.99398720264435},"x":380,"y":40,"wires":[["9087071b.a83d18"]]},{"id":"51692116.0306d","type":"ibmiot in","z":"dd1031cf.f2692","authentication":"apiKey","apiKey":"4e1bf324.0aa21c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":67,"y":413,"wires":[["d68564c4.67ede8","44655b86.f756d4"]]},{"id":"b2618eed.ee29e","type":"function","z":"dd1031cf.f2692","name":"location for geofence","func":"msg={\n   // payload:\"Outside the range\",\n    location:{\n     lat:global.get('lat'),\n     lon:global.get('lon')\n     //lat:\"15.73999\",\n     //lon:\"78.00878\"\n}\n}\nreturn msg; \n\n","outputs":1,"noerr":0,"x":175,"y":40,"wires":[["95d8880e.102e58"]]},{"id":"6fb89cc.dfb3a64","type":"debug","z":"dd1031cf.f2692","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":140,"wires":[]},{"id":"d68564c4.67ede8","type":"debug","z":"dd1031cf.f2692","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":277.5,"y":432,"wires":[]},{"id":"44655b86.f756d4","type":"function","z":"dd1031cf.f2692","name":"Globalizing variables","func":"global.set(\"lat\",msg.payload.latitude)\nglobal.set(\"lon\",msg.payload.longitude)\nreturn msg ;","outputs":1,"noerr":0,"x":350,"y":375,"wires":[[]]},{"id":"e323ec85.1c222","type":"inject","z":"dd1031cf.f2692","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["b2618eed.ee29e"]]},{"id":"1b84883c.20c198","type":"rbe","z":"dd1031cf.f2692","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":40,"wires":[["6fb89cc.dfb3a64","f68de364.a2f6"]]},{"id":"9087071b.a83d18","type":"change","z":"dd1031cf.f2692","name":"","rules":[{"t":"move","p":"location.inarea","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":40,"wires":[["1b84883c.20c198"]]},{"id":"9c135be6.442ef8","type":"function","z":"dd1031cf.f2692","name":"OUT OF FENCE","func":"msg={\n   // payload:\"Outside the range\",\n    location:{\n     \n      lat:\"15.739000\",\n      lon:\"78.008584\"\n}\n}\nreturn msg; \n","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["95d8880e.102e58"]]},{"id":"e4b9d1b0.190f3","type":"inject","z":"dd1031cf.f2692","name":"OUT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["9c135be6.442ef8"]]},{"id":"f68de364.a2f6","type":"switch","z":"dd1031cf.f2692","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":160,"wires":[["3af5bd7d.596462"]]},{"id":"3af5bd7d.596462","type":"function","z":"dd1031cf.f2692","name":"Message Payload","func":"msg.payload={\n    \n  \"apikey\":\"FBL2WUPDVRSY82G7K23IGTULL657A0UT\",\n  \"secret\":\"MUZ8WK3HTFQYAZAA\",\n  \"usetype\":\"stage\",\n  \"phone\": \"7989707122\",\n  \"message\":\"Child is out of Region\",\n  \"senderid\":\"Sri123\"\n  \n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["dde9d3ff.0a4da"]]},{"id":"dde9d3ff.0a4da","type":"http request","z":"dd1031cf.f2692","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://www.sms4india.com/api/v1/sendCampaign","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":260,"wires":[["6fb89cc.dfb3a64"]]},{"id":"d37a124e.f7dac","type":"http in","z":"dd1031cf.f2692","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":210,"y":540,"wires":[["627cd22f.06192c"]]},{"id":"188eac6c.4b7944","type":"http response","z":"dd1031cf.f2692","name":"","statusCode":"","headers":{},"x":570,"y":540,"wires":[]},{"id":"627cd22f.06192c","type":"function","z":"dd1031cf.f2692","name":"","func":"msg.payload={\n       \"lat\":global.get('lat'),\n       \"lon\":global.get('lon')\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["188eac6c.4b7944"]]},{"id":"73db7f56.3ccbf","type":"worldmap","z":"dd1031cf.f2692","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","path":"/worldmap","x":500,"y":640,"wires":[]},{"id":"1cc15cb6.4b92f3","type":"function","z":"dd1031cf.f2692","name":"App Data","func":"msg.payload={\n      \"name\":\"Srija\",\n       \"lat\":global.get('lat'),\n       \"lon\":global.get('lon')\n}\nreturn msg; \n","outputs":1,"noerr":0,"x":280,"y":640,"wires":[["73db7f56.3ccbf"]]},{"id":"22497e35.aadda2","type":"inject","z":"dd1031cf.f2692","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["1cc15cb6.4b92f3"]]},{"id":"4e1bf324.0aa21c","type":"ibmiot","z":"dd1031cf.f2692","name":"","keepalive":"60","serverName":"nojzs3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]