smart waste management/flows.json
[{"id":"8a62966c.36a918","type":"ibmiot in","z":"cdcd8717.224dd8","authentication":"apiKey","apiKey":"d3a16c28.440d4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8185","applicationId":"","deviceType":"nodemcu","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":190,"y":200,"wires":[["830e32d2.f2046"]]},{"id":"8ea88aab.1eff78","type":"debug","z":"cdcd8717.224dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":240,"wires":[]},{"id":"830e32d2.f2046","type":"function","z":"cdcd8717.224dd8","name":"Distance","func":"global.set(\"distance\",msg.payload.d.Distance)\nmsg.payload=msg.payload.d.Distance\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["8ea88aab.1eff78","106cba11.5c0f56","4115ca9c.c1ab64"]]},{"id":"106cba11.5c0f56","type":"ui_gauge","z":"cdcd8717.224dd8","name":"","group":"36b1890a.f01ca6","order":3,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":180,"wires":[]},{"id":"d0373fc5.a5836","type":"http request","z":"cdcd8717.224dd8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://www.sms4india.com/api/v1/sendCampaign","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":340,"wires":[["1057fc68.c3d8b4"]]},{"id":"1057fc68.c3d8b4","type":"debug","z":"cdcd8717.224dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":420,"wires":[]},{"id":"4115ca9c.c1ab64","type":"switch","z":"cdcd8717.224dd8","name":"dustbincondition","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"3","vt":"str"},{"t":"btwn","v":"15","vt":"num","v2":"1000","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":320,"wires":[["112032fa.67550d"],[]]},{"id":"112032fa.67550d","type":"function","z":"cdcd8717.224dd8","name":"messagepayload","func":"msg.payload={\n    \n  \"apikey\":\"4ZLS9BOKMET16LJHJEB1TGQYZC6DEDRH\",\n  \"secret\":\"JZEZQRGL21L6CWLN\",\n  \"usetype\":\"stage\",\n  \"phone\": \"7013005958\",\n  \"message\":\"BIN is filled\",\n  \"senderid\":\"Shab12\"\n\n}\n  \n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":320,"wires":[["d0373fc5.a5836"]]},{"id":"727a7131.4f163","type":"inject","z":"cdcd8717.224dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":380,"wires":[["112032fa.67550d"]]},{"id":"c87ca552.e55b68","type":"inject","z":"cdcd8717.224dd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":520,"wires":[["b6dd88d1.33cc08"]]},{"id":"b6dd88d1.33cc08","type":"function","z":"cdcd8717.224dd8","name":"Request parameters","func":"msg.event=\"testrequest\";\nmsg.payload={\"value1\":\"testvalue1\",\"value2\":\"testvalue2\"};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["82895691.008488"]]},{"id":"98e8fcbd.ec09e","type":"debug","z":"cdcd8717.224dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":540,"wires":[]},{"id":"82895691.008488","type":"http request","z":"cdcd8717.224dd8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://shabana786.eu-gb.mybluemix.net/","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":540,"wires":[["98e8fcbd.ec09e"]]},{"id":"30c8bf54.9ff01","type":"http in","z":"cdcd8717.224dd8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":230,"y":600,"wires":[["fedc3186.77c62"]]},{"id":"fedc3186.77c62","type":"function","z":"cdcd8717.224dd8","name":"","func":"msg.payload=global.get(\"distance\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[["5dc798e5.6d24b8"]]},{"id":"5dc798e5.6d24b8","type":"http response","z":"cdcd8717.224dd8","name":"","statusCode":"","headers":{},"x":530,"y":600,"wires":[]},{"id":"d3a16c28.440d4","type":"ibmiot","z":"","name":"API key","keepalive":"60","serverName":"br1azj.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"36b1890a.f01ca6","type":"ui_group","z":"","name":"light","tab":"2c0d0e25.46a352","disp":true,"width":"6","collapse":false},{"id":"2c0d0e25.46a352","type":"ui_tab","z":"","name":"Smart Monitoring","icon":"dashboard","disabled":false,"hidden":false}]