water management &billing system/flows (3).json
[{"id":"597a9c3c.2691d4","type":"ibmiot in","z":"6e97eed7.7fa64","authentication":"apiKey","apiKey":"6b2bed53.a2ef64","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"987654321","applicationId":"","deviceType":"nodemcu-32","eventType":"Data","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":160,"y":220,"wires":[["c8f7f775.2f83a8","ef097ebb.3126"]]},{"id":"406b9c1f.eaad94","type":"ibmiot in","z":"6e97eed7.7fa64","authentication":"apiKey","apiKey":"85a9513d.62cff","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"nodemcu-32","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":160,"y":460,"wires":[["62f6b7a8.c3d2c8"]]},{"id":"c8f7f775.2f83a8","type":"function","z":"6e97eed7.7fa64","name":"distance","func":"msg.payload=msg.payload.d.Distance\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["40d6699d.1a66b8","1d960519.8adfeb"]]},{"id":"ef097ebb.3126","type":"function","z":"6e97eed7.7fa64","name":"flowrate","func":"msg.payload=msg.payload.d.flowRate\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["334e3a78.08d896","a7b51ee5.881ed"]]},{"id":"9e224ff8.3fa32","type":"template","z":"6e97eed7.7fa64","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Water is coming","output":"str","x":920,"y":380,"wires":[["71a3816f.96bdb"]]},{"id":"4a423b94.a97de4","type":"template","z":"6e97eed7.7fa64","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tank is empty","output":"str","x":720,"y":240,"wires":[["dec6abe4.80c028"]]},{"id":"5a0b9bc9.8bf194","type":"ui_gauge","z":"6e97eed7.7fa64","name":"","group":"f80a8ee3.af321","order":1,"width":0,"height":0,"gtype":"wave","title":"Tank level","label":"litres","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":60,"wires":[]},{"id":"dec6abe4.80c028","type":"ui_toast","z":"6e97eed7.7fa64","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":920,"y":240,"wires":[]},{"id":"38d76771.97b098","type":"debug","z":"6e97eed7.7fa64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":320,"wires":[]},{"id":"334e3a78.08d896","type":"ui_gauge","z":"6e97eed7.7fa64","name":"","group":"76649f3e.4a814","order":1,"width":0,"height":0,"gtype":"wave","title":"Flow Rate of House 1","label":"litres","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":360,"wires":[]},{"id":"7481a7b9.ce1888","type":"function","z":"6e97eed7.7fa64","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":908,"y":297,"wires":[["8d6bc04c.499a5"]]},{"id":"71a3816f.96bdb","type":"ui_toast","z":"6e97eed7.7fa64","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1130,"y":400,"wires":[]},{"id":"8d6bc04c.499a5","type":"ui_text","z":"6e97eed7.7fa64","group":"b8f522e0.31bd6","order":1,"width":0,"height":0,"name":"","label":"House 1 BILL","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":240,"wires":[]},{"id":"62f6b7a8.c3d2c8","type":"function","z":"6e97eed7.7fa64","name":"flowrate","func":"msg.payload=msg.payload.d.flowRate\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["5aeae3c9.7016ac","ca93fa9a.9c6168"]]},{"id":"fcac6799.651b78","type":"function","z":"6e97eed7.7fa64","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["76ea67d.40b4698"]]},{"id":"5aeae3c9.7016ac","type":"switch","z":"6e97eed7.7fa64","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":558,"y":456,"wires":[["fcac6799.651b78","dd776af6.6f3208","5235939f.d6507c","286a7830.0902a8"]]},{"id":"5235939f.d6507c","type":"template","z":"6e97eed7.7fa64","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Water is coming","output":"str","x":700,"y":560,"wires":[["9d54602f.84159"]]},{"id":"dd776af6.6f3208","type":"debug","z":"6e97eed7.7fa64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":540,"wires":[]},{"id":"76ea67d.40b4698","type":"ui_text","z":"6e97eed7.7fa64","group":"b8f522e0.31bd6","order":2,"width":0,"height":0,"name":"","label":"HOUSE 2 BILL","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":500,"wires":[]},{"id":"ca93fa9a.9c6168","type":"ui_gauge","z":"6e97eed7.7fa64","name":"","group":"76649f3e.4a814","order":2,"width":0,"height":0,"gtype":"wave","title":"flow Rate of House 2","label":"litres","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":580,"wires":[]},{"id":"9d54602f.84159","type":"ui_toast","z":"6e97eed7.7fa64","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":600,"wires":[]},{"id":"629d4377.d7aa3c","type":"ui_button","z":"6e97eed7.7fa64","name":"","group":"3dfda3db.aa9fbc","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOTORON","payloadType":"str","topic":"","x":1030,"y":80,"wires":[["4b60e747.21c998"]]},{"id":"d8842266.a411f","type":"ui_button","z":"6e97eed7.7fa64","name":"","group":"3dfda3db.aa9fbc","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOTOROFF","payloadType":"str","topic":"","x":1050,"y":140,"wires":[["4b60e747.21c998"]]},{"id":"4b60e747.21c998","type":"ibmiot out","z":"6e97eed7.7fa64","authentication":"apiKey","apiKey":"6b2bed53.a2ef64","outputType":"cmd","deviceId":"123456","deviceType":"nodemcu-32","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1220,"y":60,"wires":[]},{"id":"1d960519.8adfeb","type":"debug","z":"6e97eed7.7fa64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":180,"wires":[]},{"id":"40d6699d.1a66b8","type":"switch","z":"6e97eed7.7fa64","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"5","vt":"str"},{"t":"btwn","v":"5","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"2000","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":60,"wires":[["5c40167f.7262a8"],["1de0b6fd.c84dd9"],["6b83ab05.b47864"]]},{"id":"5c40167f.7262a8","type":"function","z":"6e97eed7.7fa64","name":"empty","func":"msg.payload=20\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":20,"wires":[["5a0b9bc9.8bf194"]]},{"id":"1de0b6fd.c84dd9","type":"function","z":"6e97eed7.7fa64","name":"","func":"msg.payload=10\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["5a0b9bc9.8bf194"]]},{"id":"6b83ab05.b47864","type":"function","z":"6e97eed7.7fa64","name":"","func":"msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["5a0b9bc9.8bf194"]]},{"id":"c048ac6e.0d63","type":"cloudant out","z":"6e97eed7.7fa64","name":"","cloudant":"","database":"house1","service":"kvswiot1234-cloudant-1581066658491-68435","payonly":true,"operation":"insert","x":480,"y":400,"wires":[]},{"id":"d7d1cb04.6b3318","type":"function","z":"6e97eed7.7fa64","name":"","func":"flow=msg.payload;\nmsg.payload={\"name\":\"house1\",\"flow\":flow}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["c048ac6e.0d63"]]},{"id":"6e5b5f86.e4e0a","type":"cloudant out","z":"6e97eed7.7fa64","name":"","cloudant":"","database":"house2","service":"kvswiot1234-cloudant-1581066658491-68435","payonly":true,"operation":"insert","x":420,"y":660,"wires":[]},{"id":"286a7830.0902a8","type":"function","z":"6e97eed7.7fa64","name":"","func":"flow=msg.payload;\nmsg.payload={\"name\":\"house1\",\"flow\":flow}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["6e5b5f86.e4e0a"]]},{"id":"a7b51ee5.881ed","type":"switch","z":"6e97eed7.7fa64","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":300,"wires":[["d7d1cb04.6b3318","9e224ff8.3fa32"]]},{"id":"e1d2234d.b62c2","type":"ui_button","z":"6e97eed7.7fa64","name":"","group":"b8f522e0.31bd6","order":3,"width":0,"height":0,"passthru":false,"label":"House 1 Bill","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":820,"wires":[["77d4a827.b9c518"]]},{"id":"b629608b.993c3","type":"ui_button","z":"6e97eed7.7fa64","name":"","group":"b8f522e0.31bd6","order":4,"width":0,"height":0,"passthru":false,"label":"House 2 Bill","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":920,"wires":[["518bb31b.18868c"]]},{"id":"77d4a827.b9c518","type":"cloudant in","z":"6e97eed7.7fa64","name":"","cloudant":"","database":"house1","service":"kvswiot1234-cloudant-1581066658491-68435","search":"_all_","design":"","index":"","x":620,"y":820,"wires":[["4efd0a9c.4f5fb4"]]},{"id":"82f70845.95eff8","type":"debug","z":"6e97eed7.7fa64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":840,"wires":[]},{"id":"4efd0a9c.4f5fb4","type":"function","z":"6e97eed7.7fa64","name":"","func":"valuelen=msg.payload.length\n\nflow1=0;\n\nfor (i=0;i<valuelen;i++)\n{\n    flow1=msg.payload[i].flow+flow1;\n}\n\nbill= flow1*3;\n\nmsg.payload=bill;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":780,"wires":[["8d6bc04c.499a5","82f70845.95eff8","646c8803.e84c98"]]},{"id":"518bb31b.18868c","type":"cloudant in","z":"6e97eed7.7fa64","name":"","cloudant":"","database":"house2","service":"kvswiot1234-cloudant-1581066658491-68435","search":"_all_","design":"","index":"","x":580,"y":920,"wires":[["c5ee63d5.26fb4"]]},{"id":"c5ee63d5.26fb4","type":"function","z":"6e97eed7.7fa64","name":"","func":"valuelen=msg.payload.length\n\nflow1=0;\n\nfor (i=0;i<valuelen;i++)\n{\n    flow1=msg.payload[i].flow+flow1;\n}\n\nbill= flow1*3;\n\nmsg.payload=bill;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":900,"wires":[["76ea67d.40b4698","82f70845.95eff8","f972699c.890228"]]},{"id":"646c8803.e84c98","type":"function","z":"6e97eed7.7fa64","name":"Message Payload","func":"msg.payload={\n    \"apikey\":\"K24S1K1CT42OWHKEL09BBTC8NNH43FBH\",\n  \"secret\":\"Z19V70O4ZM7A5ZDO\",\n  \"usetype\":\"stage\",\n  \"phone\": \"9573094682\",\n  \"message\":\"Hello madam bill is \"+msg.payload,\n  \"senderid\":\"Jai123\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":680,"wires":[["4aac2fc5.1aa27"]]},{"id":"4aac2fc5.1aa27","type":"http request","z":"6e97eed7.7fa64","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://www.sms4india.com/api/v1/sendCampaign","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":680,"wires":[["82f70845.95eff8"]]},{"id":"f972699c.890228","type":"function","z":"6e97eed7.7fa64","name":"Message Payload","func":"msg.payload={\n    \"apikey\":\"K24S1K1CT42OWHKEL09BBTC8NNH43FBH\",\n  \"secret\":\"Z19V70O4ZM7A5ZDO\",\n  \"usetype\":\"stage\",\n  \"phone\": \"8688732325\",\n  \"message\":\"Hello madam bill is \"+msg.payload,\n  \"senderid\":\"Jai123\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":940,"wires":[["700e9f73.2534a"]]},{"id":"700e9f73.2534a","type":"http request","z":"6e97eed7.7fa64","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://www.sms4india.com/api/v1/sendCampaign","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":940,"wires":[["82f70845.95eff8"]]},{"id":"6b2bed53.a2ef64","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"85a9513d.62cff","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f80a8ee3.af321","type":"ui_group","z":"","name":"HOME","tab":"54f01c77.0287f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"76649f3e.4a814","type":"ui_group","z":"","name":"Flow Rates","tab":"54f01c77.0287f4","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8f522e0.31bd6","type":"ui_group","z":"","name":"Billing","tab":"54f01c77.0287f4","order":3,"disp":true,"width":"6","collapse":false},{"id":"3dfda3db.aa9fbc","type":"ui_group","z":"","name":"Control","tab":"54f01c77.0287f4","order":4,"disp":true,"width":"6","collapse":false},{"id":"54f01c77.0287f4","type":"ui_tab","z":"","name":"Tank Level","icon":"dashboard","disabled":false,"hidden":false}]