Smart Sign Board/json.flow
[{"id":"91350c14.9c78f","type":"ibmiot in","z":"6ee8a564.266abc","authentication":"apiKey","apiKey":"7fcd4359.5fb23c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"NODEMCU","eventType":"home","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":230,"y":200,"wires":[["70846d0f.749904","f4f62434.d4bca8"]]},{"id":"70846d0f.749904","type":"debug","z":"6ee8a564.266abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":260,"wires":[]},{"id":"e274561a.b82398","type":"debug","z":"6ee8a564.266abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":340,"wires":[]},{"id":"eab43be.40bfbc8","type":"ui_gauge","z":"6ee8a564.266abc","name":"temp monitoring","group":"e4ec21c0.689b8","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":800,"wires":[]},{"id":"fd3feb35.5b3bd8","type":"ui_gauge","z":"6ee8a564.266abc","name":" humidity monitoring","group":"e4ec21c0.689b8","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":900,"wires":[]},{"id":"77aa21df.82c36","type":"ibmiot out","z":"6ee8a564.266abc","authentication":"apiKey","apiKey":"7fcd4359.5fb23c","outputType":"cmd","deviceId":"123456","deviceType":"NODEMCU","eventCommandType":"sign","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":500,"wires":[]},{"id":"704628e5.32e048","type":"http in","z":"6ee8a564.266abc","name":"home","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":770,"y":100,"wires":[["f059e7c1.d8ec68"]]},{"id":"f059e7c1.d8ec68","type":"function","z":"6ee8a564.266abc","name":"API","func":"msg.payload={\"Temperature\":global.get(\"temp\"),\"Humidity\":global.get(\"humid\")}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":200,"wires":[["5ae0c8ce.459428"]]},{"id":"5ae0c8ce.459428","type":"http response","z":"6ee8a564.266abc","name":"","statusCode":"","headers":{},"x":1110,"y":300,"wires":[]},{"id":"d4dc9cc6.1176b","type":"http in","z":"6ee8a564.266abc","name":"light","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":860,"y":320,"wires":[["f4b58cb5.a668c"]]},{"id":"fa1491c.6e1867","type":"http response","z":"6ee8a564.266abc","name":"","statusCode":"","headers":{},"x":970,"y":480,"wires":[]},{"id":"f4b58cb5.a668c","type":"function","z":"6ee8a564.266abc","name":"API2","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["fa1491c.6e1867","79c10520.d9bccc","77aa21df.82c36"]]},{"id":"79c10520.d9bccc","type":"debug","z":"6ee8a564.266abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":560,"wires":[]},{"id":"9acc7fcc.b3e3b","type":"http request","z":"6ee8a564.266abc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=15.8281&lon=78.0373&appid=4f43597ca5d9ea57556f307cc70f1ace&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":784,"wires":[["ef511ea8.39721","2bcbfa97.435836","3c80880b.a337b8","ef370a43.131c28","2d8f4081.82d82"]]},{"id":"c46c9b10.e2df28","type":"inject","z":"6ee8a564.266abc","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":680,"wires":[["9acc7fcc.b3e3b"]]},{"id":"ef511ea8.39721","type":"debug","z":"6ee8a564.266abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":740,"wires":[]},{"id":"2bcbfa97.435836","type":"function","z":"6ee8a564.266abc","name":"temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":860,"wires":[["eab43be.40bfbc8"]]},{"id":"3c80880b.a337b8","type":"function","z":"6ee8a564.266abc","name":"humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":920,"wires":[["fd3feb35.5b3bd8"]]},{"id":"ef370a43.131c28","type":"function","z":"6ee8a564.266abc","name":"city","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1040,"wires":[["92062f8e.32d12"]]},{"id":"2d8f4081.82d82","type":"function","z":"6ee8a564.266abc","name":"speed","func":"msg.payload=msg.payload.wind.speed\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":980,"wires":[["61f27183.ec39"]]},{"id":"61f27183.ec39","type":"ui_gauge","z":"6ee8a564.266abc","name":"speed monitoring","group":"e4ec21c0.689b8","order":3,"width":0,"height":0,"gtype":"gage","title":"speed","label":"","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":984.4444580078125,"wires":[]},{"id":"92062f8e.32d12","type":"ui_text","z":"6ee8a564.266abc","group":"c65d88c8.f66478","order":1,"width":0,"height":0,"name":"","label":"city name","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":1040,"wires":[]},{"id":"4f62de64.ee9a4","type":"ui_form","z":"6ee8a564.266abc","name":"","label":"","group":"c65d88c8.f66478","order":2,"width":0,"height":0,"options":[{"label":"Enter Message","value":"msg","type":"text","required":true,"rows":null}],"formValue":{"msg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":420,"wires":[["58c246f2.1b2178"]]},{"id":"58c246f2.1b2178","type":"function","z":"6ee8a564.266abc","name":"","func":"msg.payload=msg.payload.msg\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["77aa21df.82c36"]]},{"id":"d2c02844.c05798","type":"ui_toast","z":"6ee8a564.266abc","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":580,"y":200,"wires":[]},{"id":"f4f62434.d4bca8","type":"template","z":"6ee8a564.266abc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"some emergency happened at kurnool","output":"str","x":400,"y":140,"wires":[["d2c02844.c05798"]]},{"id":"9e776496.b2bab8","type":"http in","z":"6ee8a564.266abc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":580,"wires":[["2cfc964a.6a21fa"]]},{"id":"2cfc964a.6a21fa","type":"function","z":"6ee8a564.266abc","name":"","func":"msg.payload=msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["df79e147.c82d9","ce395ced.b3076","77aa21df.82c36"]]},{"id":"df79e147.c82d9","type":"http response","z":"6ee8a564.266abc","name":"","statusCode":"","headers":{},"x":630,"y":580,"wires":[]},{"id":"ce395ced.b3076","type":"debug","z":"6ee8a564.266abc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":620,"wires":[]},{"id":"7fcd4359.5fb23c","type":"ibmiot","z":"","name":"new api key","keepalive":"60","serverName":"8ou8e3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e4ec21c0.689b8","type":"ui_group","z":"","name":"speed","tab":"4bc458be.b3bd38","order":1,"disp":true,"width":"6","collapse":false},{"id":"c65d88c8.f66478","type":"ui_group","z":"","name":"city","tab":"4bc458be.b3bd38","order":2,"disp":true,"width":"6","collapse":false},{"id":"4bc458be.b3bd38","type":"ui_tab","z":"","name":"smart monitoring","icon":"","disabled":false,"hidden":false}]