Smart Employee Tracking System/flows.json
[{"id":"26ae82f7.3db16e","type":"ibmiot in","z":"c2137ae3.091148","authentication":"apiKey","apiKey":"ce6d95e.6d7e568","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"nodemcu","eventType":"home","commandType":"","format":"json","name":"LH12","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":79.5,"y":45,"wires":[["a57cf3af.cc229","e5a5803b.22d82","1e1fa2be.6fc34d"]]},{"id":"36bf1ff1.8a3d1","type":"ibmiot in","z":"c2137ae3.091148","authentication":"apiKey","apiKey":"ce6d95e.6d7e568","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"654321","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"LH10","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":83.5,"y":276,"wires":[["2c2073b0.08396c","6c45a6a.f060758","30a9a7c4.8bc508"]]},{"id":"e7c8e7ef.cb1ce8","type":"function","z":"c2137ae3.091148","name":"Time function","func":"\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate.toLocaleString();\n\nreturn msg;","outputs":1,"noerr":0,"x":463.5,"y":26,"wires":[["2f993463.9cb46c"]]},{"id":"30a9a7c4.8bc508","type":"function","z":"c2137ae3.091148","name":"","func":"msg.payload=msg.payload.d.RSSI;\nreturn msg;","outputs":1,"noerr":0,"x":260.5,"y":354,"wires":[["9b259d52.53502"]]},{"id":"ac64bef6.5ec6","type":"function","z":"c2137ae3.091148","name":"distance calculation","func":"\n  var rssi=msg.payload;\n  var txPower = -59 //hard coded power value. Usually ranges between -59 to -65\n  \n  if (rssi === 0) {\n    return -1.0; \n  }\n\n  var ratio = rssi*1.0/txPower;\n  if (ratio < 1.0) {\n    msg.payload = Math.pow(ratio,10); Math.pow(ratio,10);\n  }\n  else {\n    var distance =  (0.89976)*Math.pow(ratio,7.7095) + 0.111;    \n    msg.payload=distance;\n  }\n \nreturn msg;","outputs":1,"noerr":0,"x":452.5,"y":151,"wires":[["5d5d317e.b5cd8"]]},{"id":"d332fca0.2c24c","type":"ui_text","z":"c2137ae3.091148","group":"8bf4ce8a.761fc","order":2,"width":"0","height":"0","name":"","label":"Employee ID","format":"{{msg.payload}}","layout":"col-center","x":441.5,"y":113,"wires":[]},{"id":"cdcde165.696b4","type":"ui_text","z":"c2137ae3.091148","group":"8bf4ce8a.761fc","order":1,"width":"0","height":"0","name":"","label":"Hall","format":"{{msg.payload}}","layout":"row-spread","x":426.5,"y":74,"wires":[]},{"id":"2f993463.9cb46c","type":"ui_text","z":"c2137ae3.091148","group":"8bf4ce8a.761fc","order":0,"width":"0","height":"0","name":"","label":"Entered Time","format":"{{msg.payload}}","layout":"row-spread","x":659.5,"y":25,"wires":[]},{"id":"5d5d317e.b5cd8","type":"ui_text","z":"c2137ae3.091148","group":"8bf4ce8a.761fc","order":3,"width":"0","height":"0","name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":651.5,"y":149,"wires":[]},{"id":"a57cf3af.cc229","type":"function","z":"c2137ae3.091148","name":"","func":"msg.payload=msg.payload.d.HALL;\nreturn msg;","outputs":1,"noerr":0,"x":247.5,"y":36,"wires":[["e7c8e7ef.cb1ce8","cdcde165.696b4"]]},{"id":"e5a5803b.22d82","type":"function","z":"c2137ae3.091148","name":"","func":"msg.payload=msg.payload.d.EUUID;\nreturn msg;","outputs":1,"noerr":0,"x":250.5,"y":84,"wires":[["d332fca0.2c24c"]]},{"id":"1e1fa2be.6fc34d","type":"function","z":"c2137ae3.091148","name":"","func":"msg.payload=msg.payload.d.RSSI;\nreturn msg;","outputs":1,"noerr":0,"x":250.5,"y":129,"wires":[["ac64bef6.5ec6"]]},{"id":"2c2073b0.08396c","type":"function","z":"c2137ae3.091148","name":"","func":"msg.payload=msg.payload.d.HALL;\nreturn msg;","outputs":1,"noerr":0,"x":261.5,"y":237,"wires":[["3516e440.b09a2c","a7566ae4.4197f8"]]},{"id":"6c45a6a.f060758","type":"function","z":"c2137ae3.091148","name":"","func":"msg.payload=msg.payload.d.EUUID;\nreturn msg;","outputs":1,"noerr":0,"x":257.5,"y":297,"wires":[["937f92f3.c94d9"]]},{"id":"3516e440.b09a2c","type":"function","z":"c2137ae3.091148","name":"Time function","func":"\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate.toLocaleString();\n\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":201,"wires":[["4d87ebc8.1c0334"]]},{"id":"9b259d52.53502","type":"function","z":"c2137ae3.091148","name":"distance calculation","func":"\n  var rssi=msg.payload;\n  var txPower = -59 //hard coded power value. Usually ranges between -59 to -65\n  \n  if (rssi === 0) {\n    return -1.0; \n  }\n\n  var ratio = rssi*1.0/txPower;\n  if (ratio < 1.0) {\n    msg.payload = Math.pow(ratio,10); Math.pow(ratio,10);\n  }\n  else {\n    var distance =  (0.89976)*Math.pow(ratio,7.7095) + 0.111;    \n    msg.payload=distance;\n  }\n \nreturn msg;","outputs":1,"noerr":0,"x":463,"y":352,"wires":[["c8f289f9.ede528"]]},{"id":"4d87ebc8.1c0334","type":"ui_text","z":"c2137ae3.091148","group":"16dac8e5.326ab7","order":0,"width":0,"height":0,"name":"","label":"Entered Time","format":"{{msg.payload}}","layout":"row-spread","x":661.5,"y":202,"wires":[]},{"id":"a7566ae4.4197f8","type":"ui_text","z":"c2137ae3.091148","group":"16dac8e5.326ab7","order":1,"width":0,"height":0,"name":"","label":"Hall","format":"{{msg.payload}}","layout":"row-spread","x":433.5,"y":251,"wires":[]},{"id":"937f92f3.c94d9","type":"ui_text","z":"c2137ae3.091148","group":"16dac8e5.326ab7","order":2,"width":0,"height":0,"name":"","label":"Employee ID","format":"{{msg.payload}}","layout":"col-center","x":455.5,"y":309,"wires":[]},{"id":"c8f289f9.ede528","type":"ui_text","z":"c2137ae3.091148","group":"16dac8e5.326ab7","order":3,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":656.5,"y":351,"wires":[]},{"id":"ce6d95e.6d7e568","type":"ibmiot","z":"","name":"api","keepalive":"60","serverName":"82v4a2.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"8bf4ce8a.761fc","type":"ui_group","z":"","name":"","tab":"b5ed0780.cd62b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"16dac8e5.326ab7","type":"ui_group","z":"","name":"","tab":"b5ed0780.cd62b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b5ed0780.cd62b8","type":"ui_tab","z":"","name":"Beacon Tracking","icon":"dashboard","order":9,"disabled":false,"hidden":false}]