Smart Parking/flows.json
[{"id":"f69da2e5.67fe7","type":"ui_gauge","z":"4fca2534.0c87ac","name":"","group":"d408f5d7.3741b8","order":2,"width":0,"height":0,"gtype":"gage","title":"IR1","label":"cm","format":"{{value}}","min":"2","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":340,"wires":[]},{"id":"9896ee4d.5fed2","type":"ibmiot in","z":"4fca2534.0c87ac","authentication":"apiKey","apiKey":"a66eae7f.d8a7e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":240,"y":100,"wires":[["5525f3ba.ed097c","58c255b4.62a7fc","d43a5399.4262c","bb34dfcd.3951e"]]},{"id":"5525f3ba.ed097c","type":"function","z":"4fca2534.0c87ac","name":"Slot1","func":"msg.payload=msg.payload.d.Slot1\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["5242d510.6120cc","6d1de0e6.a777d","97c22ec5.dde49"]]},{"id":"d43a5399.4262c","type":"function","z":"4fca2534.0c87ac","name":"Entry","func":"msg.payload=msg.payload.d.Entry\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["5242d510.6120cc","f69da2e5.67fe7"]]},{"id":"58c255b4.62a7fc","type":"function","z":"4fca2534.0c87ac","name":"Slot2","func":"msg.payload=msg.payload.d.Slot2\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["5242d510.6120cc","e88a07ed.75f418"]]},{"id":"5242d510.6120cc","type":"debug","z":"4fca2534.0c87ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":200,"wires":[]},{"id":"e88a07ed.75f418","type":"ui_gauge","z":"4fca2534.0c87ac","name":"","group":"bb2906f5.eeb688","order":0,"width":0,"height":0,"gtype":"gage","title":"distance2","label":"cm","format":"{{value}}","min":"2","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":280,"wires":[]},{"id":"6d1de0e6.a777d","type":"ui_gauge","z":"4fca2534.0c87ac","name":"","group":"561b6ec5.b70c5","order":2,"width":0,"height":0,"gtype":"gage","title":"distance1","label":"cm","format":"{{value}}","min":"2","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":140,"wires":[]},{"id":"6fa5a768.d43518","type":"ibmiot out","z":"4fca2534.0c87ac","authentication":"apiKey","apiKey":"a66eae7f.d8a7e","outputType":"evt","deviceId":"1234","deviceType":"nodemcu","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":440,"wires":[]},{"id":"3b4177d2.579f18","type":"http response","z":"4fca2534.0c87ac","name":"","statusCode":"","headers":{},"x":510,"y":500,"wires":[]},{"id":"34b3e24c.446f3e","type":"debug","z":"4fca2534.0c87ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":520,"wires":[]},{"id":"7790695e.0fa118","type":"function","z":"4fca2534.0c87ac","name":"API1","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["3b4177d2.579f18","34b3e24c.446f3e","6fa5a768.d43518"]]},{"id":"78f559f6.ebd148","type":"http in","z":"4fca2534.0c87ac","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":500,"wires":[["7790695e.0fa118"]]},{"id":"97c22ec5.dde49","type":"debug","z":"4fca2534.0c87ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":80,"wires":[]},{"id":"bb34dfcd.3951e","type":"debug","z":"4fca2534.0c87ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":60,"wires":[]},{"id":"f7207dbb.81d88","type":"ibmiot in","z":"4fca2534.0c87ac","authentication":"apiKey","apiKey":"a66eae7f.d8a7e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"654321","applicationId":"","deviceType":"nodemcu","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":167,"y":613,"wires":[["8afcd258.3a45d"]]},{"id":"8afcd258.3a45d","type":"function","z":"4fca2534.0c87ac","name":"Exit","func":"msg.payload=msg.payload.d.Exit\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["f98b824a.99357","55239f67.3efde"]]},{"id":"f98b824a.99357","type":"ui_gauge","z":"4fca2534.0c87ac","name":"","group":"eba65b9d.c74698","order":0,"width":0,"height":0,"gtype":"gage","title":"IR2","label":"cm","format":"{{value}}","min":"2","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":620,"wires":[]},{"id":"55239f67.3efde","type":"debug","z":"4fca2534.0c87ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":580,"wires":[]},{"id":"d408f5d7.3741b8","type":"ui_group","z":"","name":"IR1","tab":"62e4b0f5.ae77f","disp":true,"width":"6","collapse":false},{"id":"a66eae7f.d8a7e","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"v7b7d6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bb2906f5.eeb688","type":"ui_group","z":"","name":"distance2","tab":"62e4b0f5.ae77f","disp":true,"width":"6","collapse":false},{"id":"561b6ec5.b70c5","type":"ui_group","z":"","name":"slot1","tab":"62e4b0f5.ae77f","disp":true,"width":"6","collapse":false},{"id":"eba65b9d.c74698","type":"ui_group","z":"","name":"IR2","tab":"62e4b0f5.ae77f","disp":true,"width":"6","collapse":false},{"id":"62e4b0f5.ae77f","type":"ui_tab","z":"","name":"smart monitoring","icon":"dashboard","disabled":false,"hidden":false}]